:root {
    --main-color: #0D1117;
    --header-color: #010409;
    --font-color: #ffffff;
    --font-emphasis:#FD4956;
    --shadow-text:#222222;
    --shadow-box:#12171E;
    --sucess:#70fd49;
    --warning:#fdee49;
}

