@import url(color.css);
body {
    font-family: 'Poppins';
    text-align: center;
    margin: 0;
    padding: 0;
    background: var(--main-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body #webcam {
    width: 50%;
    height: auto;
    border: .1rem solid var(--font-emphasis);
}
body #capturedImage {
    border: .1rem solid var(--font-emphasis);
    display:none;
    width: 50%;
}

body button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 25rem;
    height: 5rem;
    background: var(--header-color);
    border: .2rem solid var(--font-emphasis);
    color: var(--font-color);
    font-size: 2rem;
    border-radius: 2rem;
}
