@import url(color.css);
body {
    font-family: 'Poppins';
    text-align: center;
    margin: 0;
    padding: 0;
    background: var(--main-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body button{
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 25rem;
    height: 5rem;
    background: var(--header-color);
    border: .2rem solid var(--font-emphasis);
    color: var(--font-color);
    font-size: 2rem;
    border-radius: 2rem;
}

button:hover {
    background: var(--font-emphasis);
    color: var(--font-color);
}

body form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
    border: .1rem solid var(--font-emphasis);
    background: var(--header-color);
    width: 35rem;
    height: 25rem;
    border-radius: 5rem;
}

body form input{
    width: 15rem;
    height: 2rem;
    border-radius: 1rem;
    background: var(--main-color);
    border: .1rem solid var(--font-emphasis);
    margin-top: .5rem;
    color: var(--font-color);
    cursor: pointer;
    padding: 1rem;
}

body form input[type="submit"]{
    background: var(--font-emphasis);
    height: 3rem;
    font-size: 1.2rem;
}