@import url(color.css);

body {
    font-family: 'Poppins';
    text-align: center;
    margin: 0;
    padding: 0;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: var(--font-color);
}

.login-container {
    background-color: var(--header-color);
    border: .1rem solid var(--font-emphasis);
    border-radius: .8rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
    width: 35rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: var(--font-color)
}
h3 {
    color: var(--font-emphasis);
}
input {
    padding: 1rem;
    width: 15rem;
    height: 2rem;
    margin: 1rem 0;
    border: .1rem solid var(--shadow-box);
    border-radius: .5rem;
    font-size: 1.6rem;
}
body button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 25rem;
    height: 5rem;
    background: var(--header-color);
    border: .2rem solid var(--font-emphasis);
    color: var(--font-color);
    font-size: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}
button:hover {
    background: var(--font-emphasis);
    color: var(--font-color);
}

body form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: .1rem solid var(--font-emphasis);
    background: var(--header-color);
    width: 35rem;
    height: 25rem;
    border-radius: 5rem;
}

body form input{
    width: 15rem;
    height: 2rem;
    border-radius: 1rem;
    background: var(--main-color);
    border: .1rem solid var(--font-emphasis);
    margin-top: .5rem;
    margin-left: .5rem;
    color: var(--font-color);
    cursor: pointer;
    padding: 1rem;
}

body form label{
    color: var(--font-color);
    font-size: 1.5rem;
}