@import url(color.css);
body {
    font-family: 'Poppins';
    text-align: center;
    margin: 0;
    padding: 0;
    background: var(--main-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: var(--font-color);
    font-size: 2rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-top: 2rem;
    width: 50rem;
}

table, th, td {
    border: .1rem solid var(--font-emphasis);
}

th, td {
    padding: 1rem;
    text-align: left;
}

th {
    background-color: var(--header-color);
}

td {
    background-color: var(--main-color);
}

a {
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 20rem;
    height: 5rem;
    background: var(--header-color);
    border: .2rem solid var(--font-emphasis);
    color: var(--font-color);
    font-size: 1.3rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

a:hover {
    background: var(--font-emphasis);
    color: var(--font-color);
}

table a{
    width: 15rem;
    height: 3rem;
}

body button{
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 25rem;
    height: 5rem;
    background: var(--header-color);
    border: .2rem solid var(--font-emphasis);
    color: var(--font-color);
    font-size: 2rem;
    border-radius: 2rem;
}

button:hover {
    background: var(--font-emphasis);
    color: var(--font-color);
}
