@import url(color.css);
body {
    font-family: 'Poppins';
    text-align: center;
    margin: 0;
    padding: 0;
    background: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: var(--font-color);
}

.container {
    background-color: var(--header-color);
    border: .1rem solid var(--font-emphasis);
    border-radius: .8rem;
    box-shadow: 0 .4rem .8rem rgba(0, 0, 0, 0.1);
    width: 50rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    text-align: center;
    color: var(--font-color);
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 2rem;
}

label {
    display: block;
    color: var(--font-color);
    font-size: 1.5rem;
    margin-bottom: 8px;
}

input[type="file"] {
    width: 35rem;
    height: 2rem;
    border-radius: 1rem;
    background: var(--main-color);
    border: .1rem solid var(--font-emphasis);
    margin-top: .5rem;
    margin-left: .5rem;
    color: var(--font-color);
    cursor: pointer;
    padding: 1rem;
}

button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 25rem;
    height: 5rem;
    background: var(--header-color);
    border: .2rem solid var(--font-emphasis);
    color: var(--font-color);
    font-size: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

button:hover {
    background: var(--font-emphasis);
    color: var(--font-color);
}

.alert {
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: .4rem;
}

.alert.success {
    background: var(--sucess);
    color: var(--font-emphasis);
}

.alert.warning {
    background: var(--font-warning);
    color: var(--font-emphasis);
}

.alert.danger {
    background: var(--font-emphasis);
    color: var(--font-color);
}