<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifolio - Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='color.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="top-left">
                <div class="logo-ifms"></div>
            </div>
            <div class="top-right">
                <a href="{{url_for('home')}}"><span>HOME</span></a>
                <a href="{{url_for('portfolio')}}"><span>PROJETOS</span></a>
            </div>
        </header>
        <main>
            <div class="banner">
                <div class="banner-left">
                    <span>Bem Vindo !</span>
                    <span>Esse portifolio faz parte da materia de Frameworks!</span>
                </div>
                <div class="banner-right">
                    <div class="photo"></div>
                </div>
            </div>
            <div class="banner-me">
                <div class="banner-left">
                    <div class="photo"></div>
                </div>
                <div class="banner-right">
                    <span>Oi, Meu nome é Cayo Henrique</span>
                    <span>Sobre mim, atualmente eu trabalho como secretário escolar na rede municipal, porém faço programação</span>
                    <div class="box-social">
                        <a href="https://github.com/candydelchurros"><div class="box"><i class="fa-brands fa-github"></i></div></a>
                        <a href="https://www.linkedin.com/in/cayomercadante/"><div class="box"><i class="fa-brands fa-linkedin"></i></div></a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>