<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabelas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/l1e3.css')}}">
</head>

<body>
    <h3>Crie uma rota para a atividade 3 com python app que exiba uma tabela (sem usar table) com 997 linhas e 5 colunas: nas colunas id, nome, sobrenome, e-mail, ações.</h3>
    <a href="{{url_for('portfolio')}}"><button>Voltar</button></a>
    <h1>Lista de Usuários</h1>

    <div class="table">
        <div class="table-header">
            <div>ID</div>
            <div>Nome</div>
            <div>Sobrenome</div>
            <div>Email</div>
            <div>Ações</div>
        </div>

        {% for item in data %}
        <div class="table-row">
            <div>{{ item.id }}</div>
            <div>{{ item.name }}</div>
            <div>{{ item.lastname }}</div>
            <div>{{ item.email }}</div>
            <div><button class="action-button">Editar</button> <button class="action-button">Excluir</button></div>
        </div>
        {% endfor %}
    </div>
</body>

</html>